/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://i.imgur.com/afhGbWY.png);
    height: 599px;
    width: 806px;
}

.ds4.disconnected {
    background: url(https://i.imgur.com/mqDvef8.png);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .trigger, .ds4 .triggers {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .trigger.left {
    background: url(https://i.imgur.com/hWym97A.png);
}

.ds4 .trigger.right {
    background: url(https://i.imgur.com/OzdQBkK.png);
}


.ds4 .bumpers, .ds4 .bumper.left, .ds4 .bumper.right {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .bumper.left.pressed, .ds4 .bumper.right.pressed {
    background: url(https://i.imgur.com/vX6rVM8.png);
}
.ds4 .touchpad {
    background: url(mdlogo.png) no-repeat center;
    width: 806px;
    height: 599px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ds4 .touchpad.pressed {
    background: url() no-repeat center;
}

.ds4 .meta {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .meta.pressed {
    background: url(https://i.imgur.com/UdsF1hA.png) no-repeat center;
}

.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .arrows, .ds4 .back, .ds4 .start, .ds4 .back.pressed, .ds4 .start.pressed {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .back {
    background: url(https://i.imgur.com/p9zUhsA.png);
}

.ds4 .start {
    background: url(https://i.imgur.com/1WeJCqA.png);
}


.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url();
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background: url(https://i.imgur.com/MEefONI.png) no-repeat center;
    bottom: 0;
    left: 58px;
}

.ds4 .b {
    background: url(https://i.imgur.com/qXcRfPD.png) no-repeat center;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background: url(https://i.imgur.com/PAzSwXG.png) no-repeat center;
    top: 58px;
}

.ds4 .y {
    background: url(https://i.imgur.com/to4LJka.png) no-repeat center;
    left: 58px;
}

.ds4 .a.pressed {
    background: url(https://i.imgur.com/WLawu8f.png) no-repeat center;
    left: 58px;
}

.ds4 .b.pressed {
    background: url(https://i.imgur.com/jXmje1p.png) no-repeat center;
    top: 58px;
    right: 0px;
}

.ds4 .x.pressed {
    background: url(https://i.imgur.com/jBwSKAq.png) no-repeat center;
    top: 58px;
}

.ds4 .y.pressed {
    background: url(https://i.imgur.com/Lubaj0d.png) no-repeat center;
    left: 58px;
}

.ds4 .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}

.ds4 .stick {
    position: absolute;
    background: url(https://i.imgur.com/73ALVSL.png);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.ds4 .face {
    background: url();
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 36px;
    height: 52px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 52px;
    height: 36px;
}

.ds4 .face.up {
    background: url(https://i.imgur.com/hUxYd0v.png) no-repeat center;
    left: 44px;
    top: 0;
}

.ds4 .face.down {
    background: url(https://i.imgur.com/sKdqiRb.png) no-repeat center;
    left: 44px;
    bottom: 0;
}

.ds4 .face.left {
    background: url(https://i.imgur.com/QcDBeeq.png) no-repeat center;
    top: 45px;
    left: 0;
}

.ds4 .face.right {
    background: url(https://i.imgur.com/ezeUaMC.png) no-repeat center;
    top: 45px;
    right: 0px;
}

.ds4 .face.up.pressed {
    background: url(https://i.imgur.com/osr8wnF.png) no-repeat center;
    left: 44px;
    top: 0;
}

.ds4 .face.down.pressed {
    background: url(https://i.imgur.com/TQSXEFK.png) no-repeat center;
    left: 44px;
    bottom: 0;
}

.ds4 .face.left.pressed {
    background: url(https://i.imgur.com/pyrWOWb.png) no-repeat center;
    top: 45px;
    left: 0;
}

.ds4 .face.right.pressed {
    background: url(https://i.imgur.com/vxP82GS.png) no-repeat center;
    top: 45px;
    right: 0px;
}

.ds4 .face.pressed {
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/
