/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://i.imgur.com/HEBMDm9.png);
    height: 599px;
    width: 806px;
}

.ds4.disconnected {
    background: url(https://i.imgur.com/mqDvef8.png);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .trigger, .ds4 .triggers {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .trigger.left {
    background: url(https://i.imgur.com/PdRQwG6.png);
}

.ds4 .trigger.right {
    background: url(https://i.imgur.com/EVUO0bg.png);
}


.ds4 .bumpers, .ds4 .bumper.left, .ds4 .bumper.right {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .bumper.left.pressed, .ds4 .bumper.right.pressed {
    background: url(https://i.imgur.com/etvgAUR.png);
}
.ds4 .touchpad {
    background: url(https://i.imgur.com/346SPO8.gif) no-repeat center;
    width: 262px;
    height: 599px;
    position: absolute;
    left: 272px;
    top: 0px;
}

.ds4 .touchpad.pressed {
    background: url() no-repeat center;
}

.ds4 .meta {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .meta.pressed {
    background: url(https://i.imgur.com/61BMskx.png) no-repeat center;
}

.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .arrows, .ds4 .back, .ds4 .start, .ds4 .back.pressed, .ds4 .start.pressed {
    position: absolute;
    height: 599px;
    width: 806px;
    top: 0px;
    left: 0px;
}

.ds4 .back {
    background: url(https://i.imgur.com/18qfccH.png);
}

.ds4 .start {
    background: url(https://i.imgur.com/xVEaVXD.png);
}


.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url();
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background: url(https://i.imgur.com/o5HBjvt.png) no-repeat center;
    bottom: 0;
    left: 58px;
}

.ds4 .b {
    background: url(https://i.imgur.com/28v4DWV.png) no-repeat center;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background: url(https://i.imgur.com/KOspuJc.png) no-repeat center;
    top: 58px;
}

.ds4 .y {
    background: url(https://i.imgur.com/z1zEUjy.png) no-repeat center;
    left: 58px;
}

.ds4 .a.pressed {
    background: url(https://i.imgur.com/MSIoGse.png) no-repeat center;
    left: 58px;
}

.ds4 .b.pressed {
    background: url(https://i.imgur.com/pSc6BF8.png) no-repeat center;
    top: 58px;
    right: 0px;
}

.ds4 .x.pressed {
    background: url(https://i.imgur.com/Unt0Cha.png) no-repeat center;
    top: 58px;
}

.ds4 .y.pressed {
    background: url(https://i.imgur.com/N3wJVSy.png) no-repeat center;
    left: 58px;
}

.ds4 .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 309px;
    left: 228px;
}

.ds4 .stick {
    position: absolute;
    background: url(https://i.imgur.com/oFArAY3.png);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 104px);
}

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.ds4 .face {
    background: url();
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 55px;
    height: 55px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 55px;
    height: 55px;
}

.ds4 .face.up {
    background: url(https://i.imgur.com/lDJTjPR.png) no-repeat center;
    left: 35px;
    top: 0;
}

.ds4 .face.down {
    background: url(https://i.imgur.com/hIm0h7w.png) no-repeat center;
    left: 35px;
    bottom: 0;
}

.ds4 .face.left {
    background: url(https://i.imgur.com/KlYLnWF.png) no-repeat center;
    top: 35px;
    left: 0;
}

.ds4 .face.right {
    background: url(https://i.imgur.com/yQkoQyc.png) no-repeat center;
    top: 35px;
    right: 0px;
}

.ds4 .face.up.pressed {
    background: url(https://i.imgur.com/DMpVIZd.png) no-repeat center;
    left: 35px;
    top: 0;
}

.ds4 .face.down.pressed {
    background: url(https://i.imgur.com/msfgJUU.png) no-repeat center;
    left: 35px;
    bottom: 0;
}

.ds4 .face.left.pressed {
    background: url(https://i.imgur.com/NOWqBqL.png) no-repeat center;
    top: 35px;
    left: 0;
}

.ds4 .face.right.pressed {
    background: url(https://i.imgur.com/vxqsN7i.png) no-repeat center;
    top: 35px;
    right: 0px;
}

.ds4 .face.pressed {
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/